*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.d1{
    width: 100%;
    height: 40vh;
    background-image: url(image/391a9eac-2949-485f-9c5b-5dc316f1f0a1.png);
    background-size: cover;
}
.d1-p{
    text-align: center;
    color: aliceblue;
}

.second{
    background-color: rgb(44, 10, 74);
}
.d1-txt{
    text-align: center;
    color: aliceblue;
    padding-top: 50px;
}
.d1-txt1{

    padding-top: 20px;
    text-align: center;
    font-size: 15px;
}
.d2{
    width: 100%;
    padding: 20px;
}
.d2-img{
    width: 330px;
    height: 300px;
}
.d7{
    width: 100%;
    padding: 10px;
    background-color: grey;
    
}
.d7-1{
    display: flex;
    justify-content: space-around;
    font-size: 65px;
}
.d7-2{
    display: flex;
    flex-direction: column;
}
.class-7{
    text-decoration: none;
    color: black;
}





@media (min-width : 768px) {

    .d1-p{
        height: 55px;
        text-align: center;
        font-size: 35px;
    }
    .d1-txt{
        text-align: center;
        
    }
    .d1-txt1{
        font-size: 20px;
    }
    .d2{
        display: flex;
        justify-content: space-between;
    }
    .d2-cont{
        width: 50%;
    }



    
    
}





@media (min-width : 1024px) {

    .d1{
        height: 80vh;
    }

    
    .d1-p{
        height: 40%;
        font-size: 35px;
    }
    .d1-txt{
        text-align: center;
        padding-top: 50px;
    }
    .d2{
        display: flex;
        justify-content: space-between;
    }
    .d2-cont{
        width: 65%;
    }



}

